* {
    box-sizing: border-box;
}

body {
    /* background-color: #f1f1f1; */
    background-color: #3b3b63;   
}

.main {
    max-width: 1000px;
    margin: auto;
}



/* .columns{
    float:center;
} */

/* h1 {
    font-size: 50px;
    word-break: break-all;
} */

h1 {text-decoration-line: underline;
    text-align: center; 
    color: rgb(253, 253, 253);
}

h2 {text-align: center; 
    color: rgb(241, 241, 247);}


h3 {text-decoration-line: underline; 
    text-align: center; 
    color: white; 
    font-size: 2em;}

h4 {text-align: center; color:pink; font-size: 2em;}
h5 {text-align: center; color:pink; font-size: 2em;}
h6 {text-decoration-line: underline; text-align: center; color: white; font-size: 2em;}
        

.row,
.row > .section {
    padding: 8px;
}

.section {
    float:center;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

.show {
    display: block;
}

.myBtnContainer {
    text-align:center;
}

.btn {
    text-align: center;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn.active {
    text-align: center;
    background-color: #666;
    color: white;
}

